// resources/assets/js/views/Categories.vue
<template>
  <div>
     <b-overlay :show="loading" rounded="sm">
       <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="table-catigories"
    ></b-pagination>
      <b-table hover 
      id="table-catigories"
      :per-page="perPage"
      :fields="fields"
      :items="categories"  
      :current-page="currentPage">
       <template v-slot:cell(name)="data">
        <router-link :to="{name: 'tasks', params: {id_category:data.item.id }}"><b-col sm="3">{{ data.item.name }}</b-col></router-link>
      </template>
      </b-table>
    </b-overlay>
  </div>
</template>
<script>
export default {
  data() {
    return{
      perPage: 1,
      currentPage: 1,
      fields: [
        { key: 'name', label: 'Название' },
      ],
      categories: [],
      loading: true,
      errored: false,
    }
  },computed: {
      rows() {
        return this.categories.length
      }
    },
     mounted() {
         axios
      .get('api/categories')
      .then(response => {
        this.categories = response.data.data
        this.perPage = response.data.per_page
      })
      .catch(error => {
        console.log(error);
        this.errored = true;
      })
      .finally(() => (this.loading = false));
    }
  }
</script>