// resources/assets/js/views/Tasks.vue
<template>
  <div>
    <b-overlay :show="loading" rounded="sm">
       <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="table-tasks"
    ></b-pagination>
      <b-table hover 
      id="table-tasks"
      :per-page="perPage"
      :fields="fields"
      :items="tasks"  
      :current-page="currentPage">
      <template v-slot:cell(name)="data">
        <router-link :to="{name: 'task', params: {id:data.item.id }}"><b-col sm="3">{{ data.item.name }}</b-col></router-link>
      </template>
      <template v-slot:cell(control)="data">
        <div hidden>
        {{data.item.status = data.item.status ? true: false}}
         </div>
        <b-form-checkbox v-model="data.item.status" @change="put(data.item.id,data.item.status)">
          {{ data.item.status ? 'Выполнено' : 'Не выполнено'}}
        </b-form-checkbox>
      </template>
      </b-table>
    </b-overlay>
  </div>
</template>
<script>
export default {
  data() {
    return{
      perPage: 1,
      currentPage: 1,
      fields: [{ key: 'name', label: 'Название' },{ key: 'control', label: 'Управление' }],
      tasks: [],
      loading: true,
      errored: false,
    }
  },computed: {
      rows() {
        return this.tasks.length
      }
    },
     mounted() {
         axios
      .get('/api/tasks/'+this.$route.params.id_category)
      .then(response => {
        this.tasks = response.data.data
        this.perPage = response.data.per_page
      })
      .catch(error => {
        console.log(error);
        this.loading = false
        this.errored = true;
      })
      .finally(() => (this.loading = false));
    },
    methods: {
    put: function (id,status) {
      console.log("checkbox click");
      this.loading = true;
      axios
      .put('/api/task/'+id,{
        status: status ? 0:1
      })
      .then(response => {
        console.log(response)
      })
      .catch(error => {
        console.log(error);
        this.loading = false
        this.errored = true;
      })
      .finally(() => {
        this.loading = false       
        });
    }
  }
  }
</script>