// resources/assets/js/views/Tasks.vue
<template>
  <div>
    <b-overlay :show="loading" rounded="sm">
      <b-table stacked  
      id="table-task"
      :fields="fields"
      :items="task">
      <template v-slot:cell(control)="data">
        <div hidden>
        {{data.item.status = data.item.status ? true: false}}
         </div>
        <b-form-checkbox v-model="data.item.status" @change="put(data.item.id,data.item.status)">
          {{ data.item.status ? 'Выполнено' : 'Не выполнено'}}
        </b-form-checkbox>
        <b-button to="/" v-on:click="del(data.item.id)" style="margin-top: 10px;" variant="danger">Удалить</b-button>
      </template>
      </b-table>
    </b-overlay>
  </div>
</template>
<script>
export default {
  data() {
    return{
      fields: [{ key: 'name', label: 'Название' },{ key: 'description', label: 'Описание' },{ key: 'control', label: 'Управление' }],
      task: [],
      loading: true,
      errored: false,
    }
  },
     mounted() {
         axios
      .get('/api/task/'+this.$route.params.id)
      .then(response => {
        this.task = response.data.data
        console.log(response.data.data)
      })
      .catch(error => {
        console.log(error);
        this.loading = false
        this.errored = true;
      })
      .finally(() => (this.loading = false));
    },
    methods: {
    del: function (id) {
      console.log("delete click");
      this.loading = true;
      axios
      .delete('/api/task/'+id)
      .then(response => {
        console.log(response)
      })
      .catch(error => {
        console.log(error);
        this.loading = false
        this.errored = true;
      })
      .finally(() => {
        this.loading = false       
        });
    },
    put: function (id,status) {
      console.log("checkbox click");
      this.loading = true;
      axios
      .put('/api/task/'+id,{
        status: status ? 0:1
      })
      .then(response => {
        console.log(response)
      })
      .catch(error => {
        console.log(error);
        this.loading = false
        this.errored = true;
      })
      .finally(() => {
        this.loading = false       
        });
    }
  }
  }
</script>